
<!-- Booking Section Start -->

<section class="booking">

    <h1 class="heading-title">reserva tu viaje!</h1>

    <form method="post" class="book-form">

        <div class="flex">
            <div class="inputBox">
                <span>nombre :</span>
                <input type="text" placeholder="Ingresa tu nombre" name="name">
            </div>
            <div class="inputBox">
                <span>correo electrónico :</span>
                <input type="email" placeholder="Ingresa tu correo electrónico" name="email">
            </div>
            <div class="inputBox">
                <span>teléfono :</span>
                <input type="phone" placeholder="Ingresa tu número de teléfono" name="phone">
            </div>
            <div class="inputBox">
                <span>dirección :</span>
                <input type="text" placeholder="Ingresa tu dirección" name="address">
            </div>
            <div class="inputBox">
                <span>destino :</span>
                <input type="text" placeholder="Elige tu destino" name="location">
            </div>
            <div class="inputBox">
                <span>cantidad de viajeros :</span>
                <input type="number" placeholder="Número de viajeros" name="guests">
            </div>
            <div class="inputBox">
                <span>inicio del viaje :</span>
                <input type="date" name="arrivals">
            </div>
            <div class="inputBox">
                <span>fin del viaje :</span>
                <input type="date" name="leaving">
            </div>
        </div>

        <input type="submit" value="reservar" class="btn" name="send">

    </form>

</section>

<!-- Booking Section End -->