<!-- Footer Section Start -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Enlaces</h3>
            <a routerLink="home"><i class="fas fa-angle-right"></i> inicio</a>
            <a routerLink="about"><i class="fas fa-angle-right"></i> nosotros</a>
            <a routerLink="site"><i class="fas fa-angle-right"></i> destinos</a>
            <a routerLink="reserve"><i class="fas fa-angle-right"></i> reservas</a>
        </div>

        <div class="box">
            <h3>Síguenos</h3>
            <a href="https://ajmaestre.github.io/portfolio/home" target="_blank"><i class="fab fa-font-awesome"></i> portfolio</a>
            <a href="https://github.com/ajmaestre" target="_blank"><i class="fab fa-github"></i> github</a>
            <a href="https://www.linkedin.com/in/ajmaestre" target="_blank"><i class="fab fa-linkedin"></i> linkedin</a>
        </div>

        <div class="box">
            <h3>Contáctanos</h3>
            <a href="https://wa.me/573044842422" target="_blank"><i class="fab fa-whatsapp"></i> +57 3044842422</a>
            <a href="mailto:ajmaestretorres@gmail.com" target="_blank"><i class="fas fa-envelope"></i> ajmaestretorres@gmail.com</a>
            <a href="https://goo.gl/maps/1G4NvTJom1eXzrcY6" target="_blank"><i class="fas fa-map"></i> Valledupar, Cesar, Colombia</a>
        </div>

    </div>

    <div class="credit">creado por <span>Alexander Maestre</span> | desarrollador frontend</div>

</section>

<!-- Footer Section End -->