section {
    padding: 5rem 10%;
}

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image {
    flex: 1 1 41rem;
    height: 45rem;
    background: url(../../../assets/images/bogota-1.jpg);
    background-size: cover;
}

.about .content {
    flex: 1 1 41rem;
    text-align: center;
    height: 45rem;
}

.about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.about .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.about .content .icons-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons {
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons i {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.about .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}

@media (max-width: 991px) {
    section {
        padding: 3rem 2rem;
        padding-bottom: 25rem;
    }

}

@media (max-width: 1200px) {
    section {
        padding: 3rem 5%;
        padding-bottom: 25rem;
    }

}