
<!-- About Section Start -->

<section class="about">

    <div class="image"></div>

    <div class="content">
        <h3>¿Por qué deberías elegirnos?</h3>
        <p>
            Nuestro equipo de guías expertos y apasionados se asegurará 
            de que disfrutes de cada momento de tu viaje. Ofrecemos una 
            amplia variedad de paquetes turísticos que se adaptan a tus 
            preferencias y necesidades. Ya sea que desees realizar senderismo 
            en el Parque Nacional Natural Tayrona, explorar las antiguas 
            ruinas de Ciudad Perdida o disfrutar de un recorrido gastronómico 
            por Medellín, tenemos el itinerario perfecto para ti.
        </p>
        <div class="icons-container">
            <div class="icons">
                <i class="fas fa-map"></i>
                <span>destinos populares</span>
            </div>
            <div class="icons">
                <i class="fas fa-hand-holding-usd"></i>
                <span>precios comodos</span>
            </div>
            <div class="icons">
                <i class="fas fa-headset"></i>
                <span>servicio guía 24/7</span>
            </div>
        </div>
    </div>

</section>

<!-- About Section End -->
