<!-- Home About Section Start -->

<section class="home-about">

    <div class="image">
        <img src="../../assets/images/medellin-1.jpg" alt="">
    </div>

    <div class="content">
        <h3>sobre nosotros</h3>
        <p>
            Somos A-Travels, su guía de confianza para descubrir los distintos
            tesoros de Colombia. Nos especializamos en brindar experiencias únicas
            que invitan a explorar los diversos paisajes, la rica cultura y
            la cálida hospitalidad de este hermoso país.
            Con TravelWebsite, te llevaremos a través de un viaje inolvidable
            por los rincones más fascinantes de Colombia.
        </p>
        <div class="div-btn">
            <a routerLink="../about" class="btn">leer más</a>
        </div>
    </div>

</section>

<!-- Home About Section End -->