
section{
    padding: 5rem 10%;
    min-height: 100vh;
    margin: 0;
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);
}

/*-----------------------------------------------------------------------------*/

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
    height: 40rem;
}

.home-about .image img{
    width: 100%;
    height: 100%;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
    height: 40rem;
}

.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
    height: 25rem;
}

.home-about .content .div-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*-----------------------------------------------------------------------------*/

@media (max-width: 991px) {
    section{
        padding: 3rem 2rem;
    }
    .home-about .content{
        text-align: center;
    }
    .home-about .content .div-btn{
        margin-top: 4rem;
        justify-content: center;
    }
    .home-about .image{
        height: 45rem;
    }
    .home-about .content{
        height: 45rem;
    }
}

@media (max-width: 1200px) {
    section{
        padding: 3rem 5%;
    }
    .home-about .content{
        text-align: center;
    }
    .home-about .content .div-btn{
        margin-top: 4rem;
        justify-content: center;
    }
    .home-about .image{
        height: 45rem;
    }
    .home-about .content{
        height: 45rem;
    }
}