<!-- Service Section Start -->

<section class="services">

    <h1 class="heading-title"> servicios </h1>

    <div class="box-container">

        <div class="box">
            <div class="img" id="img_1"></div>
            <h3>aventura</h3>
        </div>

        <div class="box">
            <div class="img" id="img_2"></div>
            <h3>guía turística</h3>
        </div>

        <div class="box">
            <div class="img" id="img_3"></div>
            <h3>senderismo</h3>
        </div>

        <div class="box">
            <div class="img" id="img_4"></div>
            <h3>fogata</h3>
        </div>

        <div class="box">
            <div class="img" id="img_5"></div>
            <h3>exploración</h3>
        </div>

        <div class="box">
            <div class="img" id="img_6"></div>
            <h3>acampar</h3>
        </div>
    </div>

</section>

<!-- Service Section End -->