<!-- Service Section Start -->

<section class="services">

    <h1 class="heading-title"> servicios </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/images/mount3.png" alt="">
            <h3>aventura</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/map.png" alt="">
            <h3>guía turística</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/backpack.png" alt="">
            <h3>senderismo</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/fire.png" alt="">
            <h3>fogata</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/sign.png" alt="">
            <h3>exploración</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/camp.png" alt="">
            <h3>acampar</h3>
        </div>
    </div>

</section>

<!-- Service Section End -->