
section{
    padding: 5rem 10%;
    min-height: 100vh;
    margin: 0;
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

/*-----------------------------------------------------------------------------*/

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding: 0 4rem;
}

.services .box-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container .box .img{
    width: 7rem;
    height: 7rem;
}

#img_1{
    background: url(../../../assets/images/mount3.png);
    background-size: cover;
}

#img_2{
    background: url(../../../assets/images/map.png);
    background-size: cover;
}

#img_3{
    background: url(../../../assets/images/backpack.png);
    background-size: cover;
}

#img_4{
    background: url(../../../assets/images/fire.png);
    background-size: cover;
}

#img_5{
    background: url(../../../assets/images/sign.png);
    background-size: cover;
}

#img_6{
    background: url(../../../assets/images/camp.png);
    background-size: cover;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

/*-----------------------------------------------------------------------------*/

@media (max-width: 450px) {
    .heading-title{
        font-size: 3.5rem;
    }
}

@media (max-width: 991px) {
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width: 1200px) {
    section{
        padding: 3rem 5%;
    }
}