
section{
    padding: 5rem 10%;
    min-height: 100vh;
    margin: 0;
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

/*-----------------------------------------------------------------------------*/

.home-packages{
    background: var(--light-bg);
}

.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.home-packages .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-packages .box-container .box .image{
    height: 20rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box:hover .image img{
    transform: scale(1.1);
}

.home-packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.home-packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.home-packages .load-more{
    text-align: center;
    margin-top: 2rem;
}

/*-----------------------------------------------------------------------------*/

@media (max-width: 450px) {
    .heading-title{
        font-size: 3.5rem;
    }
}

@media (max-width: 991px) {
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width: 1200px) {
    section{
        padding: 3rem 5%;
    }
}