<!-- Home Section Starts -->

<section class="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide" id="swiper-1">
                <div class="content">
                    <span>explora, descubre, viaja</span>
                    <h3>explora colombia y sus alrededores</h3>
                    <a routerLink="../site" class="btn">descubre más</a>
                </div>
            </div>

            <div class="swiper-slide slide" id="swiper-2">
                <div class="content">
                    <span>explora, descubre, viaja</span>
                    <h3>conoce un nuevo mundo</h3>
                    <a routerLink="../site" class="btn">descubre más</a>
                </div>
            </div>

            <div class="swiper-slide slide" id="swiper-3">
                <div class="content">
                    <span>explora, descubre, viaja</span>
                    <h3>descubre una rica historia</h3>
                    <a routerLink="../site" class="btn">descubre más</a>
                </div>
            </div>

            <div class="swiper-slide slide" id="swiper-1">
                <div class="content">
                    <span>explora, descubre, viaja</span>
                    <h3>explora colombia y sus alrededores</h3>
                    <a routerLink="../site" class="btn">descubre más</a>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- Home Section End -->