
<!-- Home Section Starts -->
<app-swiper></app-swiper>
<!-- Home Section End -->

<!-- -------------------------------------------------------------------- -->

<!-- Service Section Start -->
<app-services></app-services>
<!-- Service Section End -->

<!-------------------------------------------------------------------------->

<!-- Home About Section Start -->
<app-home-about></app-home-about>
<!-- Home About Section End -->

<!-------------------------------------------------------------------------->

<!-- Home Packages Section Start -->
<app-packages></app-packages>
<!-- Home Packages Section End -->

<!-------------------------------------------------------------------------->

<!-- Home Offer Section Start -->
<app-offer></app-offer>
<!-- Home Offer Section End -->