
<!-- Reviews Section Start -->

<div class="reviews">

    <h1 class="heading-title"> reseñas </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">

                <div class="card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        Increíble experiencia de viaje con este sitio web. 
                        Sus guías de viaje son expertos locales que conocen 
                        Colombia a la perfección. ¡Altamente recomendado!
                    </p>
                    <h3>Agatha Christie</h3>
                    <span>escritora</span>
                    <img src="../../../assets/images/face4.jpg" alt="">
                </div>

                <div class="card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        Excelente servicio de guía de viajes en Colombia. 
                        Gracias a ellos, mi viaje fue fluido y pude 
                        disfrutar al máximo de cada lugar que visité.
                    </p>
                    <h3>John Watson</h3>
                    <span>cirujano</span>
                    <img src="../../../assets/images/face-5.jpg" alt="">
                </div>

            </div>

            <div class="swiper-slide slide">

                <div class="card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        La calidad de los guías de este sitio web es insuperable. 
                        Son amigables, conocedores y están dispuestos a adaptarse 
                        a mis intereses y necesidades. ¡No duden en usar sus servicios!
                    </p>
                    <h3>Hércules Poirot</h3>
                    <span>Fotógrafo</span>
                    <img src="../../assets/images/face3.jpg" alt="">
                </div>

                <div class="card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        Este sitio web de guías de viaje en Colombia 
                        me ayudó a explorar lugares increíbles y alejarme 
                        de las rutas turísticas típicas. Fue una experiencia inolvidable.
                    </p>
                    <h3>Santiago Nasar</h3>
                    <span>Chef</span>
                    <img src="../../../assets/images/face-6.jpg" alt="">
                </div>

            </div>

            <div class="swiper-slide slide">

                <div class="card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        No puedo expresar lo agradecido que estoy con este 
                        sitio web de guías de viaje. Su pasión por compartir 
                        los tesoros de Colombia se reflejó en cada momento de mi aventura.
                    </p>
                    <h3>Mina Harker</h3>
                    <span>Abogada</span>
                    <img src="../../../assets/images/face1.jpg" alt="">
                </div>

                <div class="card">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>
                        Mi viaje por Colombia fue inolvidable gracias a este sitio 
                        web de guías de viaje. Desde el momento en que me puse en 
                        contacto con ellos, su atención al cliente fue excepcional. 
                    </p>
                    <h3>Lemuel Gulliver</h3>
                    <span>Ingeniero</span>
                    <img src="../../assets/images/face2.jpg" alt="">
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Reviews Section End -->