
.heading-title{
    text-align: center;
    margin-bottom: 0;
    margin-top: 5rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.reviews{
    background: var(--light-bg);
    margin: 0;
    padding-bottom: 5rem;
    min-height: 100vh;
    overflow-x: hidden;
}

.reviews .swiper-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    animation: slide 15s steps(1, end) infinite;
}

.reviews .slide{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reviews .slide .card{
    padding: 2.5rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select: none;
    width: 30%;
    height: 40rem;
}

.reviews .slide .stars{
    padding: 1rem 0;
}

.reviews .slide .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.reviews .slide p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
    margin: 1rem 0;
}

.reviews .slide h3{
    font-size: 2rem;
    color: var(--black);
}

.reviews .slide span{
    font-size: 1.5rem;
    color: var(--main-color);
    display: block;
}

.reviews .slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100vw);
    }
    75%{
        transform: translateX(-200vw);
    }
    100%{
        transform: translateX(-300vw);
    }
}

@media (max-width: 450px) {
    .heading-title{
        font-size: 3.5rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .reviews .slide .card{
        width: 90%;
        height: 40rem;
        font-size: .6rem;
        margin: 2rem;
    }
}
